# OS files
.DS_Store
Thumbs.db

# IDE folders
.vs/
.vscode/
.idea/

# Build outputs
**/bin/
**/obj/
**/node_modules/
**/.angular/
**/dist/
**/build/

# Flutter/Dart
**/.dart_tool/
**/.packages/
**/.flutter-plugins
**/.flutter-plugins-dependencies
**/*.iml

# User-specific files
*.user
*.suo
*.cache

# Local secret/config files
**/appsettings.*.json
!**/appsettings.json

# Archives
*.rar
*.zip
*.7z
